In [1]:
import numpy as np
import pandas as pd
import csv

In [2]:
with open('2015.csv', 'r') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=',')
    data_2015 = list(spamreader)
    data_2015 = np.asarray(data_2015)
    df_2015 = pd.DataFrame(data=data_2015[1:], columns=data_2015[0])
    df_2015['Year'] = 2015
    df_2015 = df_2015[['Country', 'Year', 'Happiness Score']]
    df_2015.columns = ['Country', 'Year', 'Score']
    df_2015['Score'] = df_2015['Score'].astype(float)

In [3]:
df_2015

                      Country  Year  Score
0                 Switzerland  2015  7.587
1                     Iceland  2015  7.561
2                     Denmark  2015  7.527
3                      Norway  2015  7.522
4                      Canada  2015  7.427
5                     Finland  2015  7.406
6                 Netherlands  2015  7.378
7                      Sweden  2015  7.364
8                 New Zealand  2015  7.286
9                   Australia  2015  7.284
10                     Israel  2015  7.278
11                 Costa Rica  2015  7.226
12                    Austria  2015  7.200
13                     Mexico  2015  7.187
14              United States  2015  7.119
15                     Brazil  2015  6.983
16                 Luxembourg  2015  6.946
17                    Ireland  2015  6.940
18                    Belgium  2015  6.937
19       United Arab Emirates  2015  6.901
20             United Kingdom  2015  6.867
21                       Oman  2015  6.853
22                  Venezuela  2015  6.810
23                  Singapore  2015  6.798
24                     Panama  2015  6.786
25                    Germany  2015  6.750
26                      Chile  2015  6.670
27                      Qatar  2015  6.611
28                     France  2015  6.575
29                  Argentina  2015  6.574
..                        ...   ...    ...
128                   Myanmar  2015  4.307
129                   Georgia  2015  4.297
130                    Malawi  2015  4.292
131                 Sri Lanka  2015  4.271
132                  Cameroon  2015  4.252
133                  Bulgaria  2015  4.218
134                     Egypt  2015  4.194
135                     Yemen  2015  4.077
136                    Angola  2015  4.033
137                      Mali  2015  3.995
138       Congo (Brazzaville)  2015  3.989
139                   Comoros  2015  3.956
140                    Uganda  2015  3.931
141                   Senegal  2015  3.904
142                     Gabon  2015  3.896
143                     Niger  2015  3.845
144                  Cambodia  2015  3.819
145                  Tanzania  2015  3.781
146                Madagascar  2015  3.681
147  Central African Republic  2015  3.678
148                      Chad  2015  3.667
149                    Guinea  2015  3.656
150               Ivory Coast  2015  3.655
151              Burkina Faso  2015  3.587
152               Afghanistan  2015  3.575
153                    Rwanda  2015  3.465
154                     Benin  2015  3.340
155                     Syria  2015  3.006
156                   Burundi  2015  2.905
157                      Togo  2015  2.839

[158 rows x 3 columns]

In [4]:
with open('2016.csv', 'r') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=',')
    data_2016 = list(spamreader)
    data_2016 = np.asarray(data_2016)
    df_2016 = pd.DataFrame(data=data_2016[1:], columns=data_2016[0])
    df_2016['Year'] = 2016
    df_2016 = df_2016[['Country', 'Year', 'Happiness Score']]
    df_2016.columns = ['Country', 'Year', 'Score']
    df_2016['Score'] = df_2016['Score'].astype(float)

In [5]:
df_2016

                  Country  Year  Score
0                 Denmark  2016  7.526
1             Switzerland  2016  7.509
2                 Iceland  2016  7.501
3                  Norway  2016  7.498
4                 Finland  2016  7.413
5                  Canada  2016  7.404
6             Netherlands  2016  7.339
7             New Zealand  2016  7.334
8               Australia  2016  7.313
9                  Sweden  2016  7.291
10                 Israel  2016  7.267
11                Austria  2016  7.119
12          United States  2016  7.104
13             Costa Rica  2016  7.087
14            Puerto Rico  2016  7.039
15                Germany  2016  6.994
16                 Brazil  2016  6.952
17                Belgium  2016  6.929
18                Ireland  2016  6.907
19             Luxembourg  2016  6.871
20                 Mexico  2016  6.778
21              Singapore  2016  6.739
22         United Kingdom  2016  6.725
23                  Chile  2016  6.705
24                 Panama  2016  6.701
25              Argentina  2016  6.650
26         Czech Republic  2016  6.596
27   United Arab Emirates  2016  6.573
28                Uruguay  2016  6.545
29                  Malta  2016  6.488
..                    ...   ...    ...
127               Senegal  2016  4.219
128              Bulgaria  2016  4.217
129            Mauritania  2016  4.201
130              Zimbabwe  2016  4.193
131                Malawi  2016  4.156
132                 Sudan  2016  4.139
133                 Gabon  2016  4.121
134                  Mali  2016  4.073
135                 Haiti  2016  4.028
136              Botswana  2016  3.974
137               Comoros  2016  3.956
138           Ivory Coast  2016  3.916
139              Cambodia  2016  3.907
140                Angola  2016  3.866
141                 Niger  2016  3.856
142           South Sudan  2016  3.832
143                  Chad  2016  3.763
144          Burkina Faso  2016  3.739
145                Uganda  2016  3.739
146                 Yemen  2016  3.724
147            Madagascar  2016  3.695
148              Tanzania  2016  3.666
149               Liberia  2016  3.622
150                Guinea  2016  3.607
151                Rwanda  2016  3.515
152                 Benin  2016  3.484
153           Afghanistan  2016  3.360
154                  Togo  2016  3.303
155                 Syria  2016  3.069
156               Burundi  2016  2.905

[157 rows x 3 columns]

In [6]:
with open('2017.csv', 'r') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=',')
    data_2017 = list(spamreader)
    data_2017 = np.asarray(data_2017)
    df_2017 = pd.DataFrame(data=data_2017[1:], columns=data_2017[0])
    df_2017['Year'] = 2017
    df_2017 = df_2017[['Country', 'Year', 'Happiness.Score']]
    df_2017.columns = ['Country', 'Year', 'Score']
    df_2017['Score'] = df_2017['Score'].astype(float)

In [7]:
df_2017

                      Country  Year  Score
0                      Norway  2017  7.537
1                     Denmark  2017  7.522
2                     Iceland  2017  7.504
3                 Switzerland  2017  7.494
4                     Finland  2017  7.469
5                 Netherlands  2017  7.377
6                      Canada  2017  7.316
7                 New Zealand  2017  7.314
8                      Sweden  2017  7.284
9                   Australia  2017  7.284
10                     Israel  2017  7.213
11                 Costa Rica  2017  7.079
12                    Austria  2017  7.006
13              United States  2017  6.993
14                    Ireland  2017  6.977
15                    Germany  2017  6.951
16                    Belgium  2017  6.891
17                 Luxembourg  2017  6.863
18             United Kingdom  2017  6.714
19                      Chile  2017  6.652
20       United Arab Emirates  2017  6.648
21                     Brazil  2017  6.635
22             Czech Republic  2017  6.609
23                  Argentina  2017  6.599
24                     Mexico  2017  6.578
25                  Singapore  2017  6.572
26                      Malta  2017  6.527
27                    Uruguay  2017  6.454
28                  Guatemala  2017  6.454
29                     Panama  2017  6.452
..                        ...   ...    ...
125          Congo (Kinshasa)  2017  4.280
126                      Mali  2017  4.190
127               Ivory Coast  2017  4.180
128                  Cambodia  2017  4.168
129                     Sudan  2017  4.139
130                     Ghana  2017  4.120
131                   Ukraine  2017  4.096
132                    Uganda  2017  4.081
133              Burkina Faso  2017  4.032
134                     Niger  2017  4.028
135                    Malawi  2017  3.970
136                      Chad  2017  3.936
137                  Zimbabwe  2017  3.875
138                   Lesotho  2017  3.808
139                    Angola  2017  3.795
140               Afghanistan  2017  3.794
141                  Botswana  2017  3.766
142                     Benin  2017  3.657
143                Madagascar  2017  3.644
144                     Haiti  2017  3.603
145                     Yemen  2017  3.593
146               South Sudan  2017  3.591
147                   Liberia  2017  3.533
148                    Guinea  2017  3.507
149                      Togo  2017  3.495
150                    Rwanda  2017  3.471
151                     Syria  2017  3.462
152                  Tanzania  2017  3.349
153                   Burundi  2017  2.905
154  Central African Republic  2017  2.693

[155 rows x 3 columns]

In [8]:
df_score = pd.concat([df_2015, df_2016, df_2017])
df_score.sort_values(by=['Country', 'Year'], inplace=True)
df_count = df_score.groupby('Country').count()
df_score.reset_index(inplace=True, drop=True)

In [9]:
for country,row in df_count.iterrows():
    if(row['Year'] != 3):
        df_score.drop(df_score.loc[df_score['Country'] == country].index, inplace=True)
df_score.reset_index(inplace=True, drop=True)
df_score

                  Country  Year  Score
0             Afghanistan  2015  3.575
1             Afghanistan  2016  3.360
2             Afghanistan  2017  3.794
3                 Albania  2015  4.959
4                 Albania  2016  4.655
5                 Albania  2017  4.644
6                 Algeria  2015  5.605
7                 Algeria  2016  6.355
8                 Algeria  2017  5.872
9                  Angola  2015  4.033
10                 Angola  2016  3.866
11                 Angola  2017  3.795
12              Argentina  2015  6.574
13              Argentina  2016  6.650
14              Argentina  2017  6.599
15                Armenia  2015  4.350
16                Armenia  2016  4.360
17                Armenia  2017  4.376
18              Australia  2015  7.284
19              Australia  2016  7.313
20              Australia  2017  7.284
21                Austria  2015  7.200
22                Austria  2016  7.119
23                Austria  2017  7.006
24             Azerbaijan  2015  5.212
25             Azerbaijan  2016  5.291
26             Azerbaijan  2017  5.234
27                Bahrain  2015  5.960
28                Bahrain  2016  6.218
29                Bahrain  2017  6.087
..                    ...   ...    ...
408  United Arab Emirates  2015  6.901
409  United Arab Emirates  2016  6.573
410  United Arab Emirates  2017  6.648
411        United Kingdom  2015  6.867
412        United Kingdom  2016  6.725
413        United Kingdom  2017  6.714
414         United States  2015  7.119
415         United States  2016  7.104
416         United States  2017  6.993
417               Uruguay  2015  6.485
418               Uruguay  2016  6.545
419               Uruguay  2017  6.454
420            Uzbekistan  2015  6.003
421            Uzbekistan  2016  5.987
422            Uzbekistan  2017  5.971
423             Venezuela  2015  6.810
424             Venezuela  2016  6.084
425             Venezuela  2017  5.250
426               Vietnam  2015  5.360
427               Vietnam  2016  5.061
428               Vietnam  2017  5.074
429                 Yemen  2015  4.077
430                 Yemen  2016  3.724
431                 Yemen  2017  3.593
432                Zambia  2015  5.129
433                Zambia  2016  4.795
434                Zambia  2017  4.514
435              Zimbabwe  2015  4.610
436              Zimbabwe  2016  4.193
437              Zimbabwe  2017  3.875

[438 rows x 3 columns]

In [10]:
with open('fd1f9f89-994a-4025-b070-d32551a7c283_Data.csv', 'r') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=',')
    data = list(spamreader)
    data = np.asarray(data)
    df = pd.DataFrame(data=data[1:-1556], columns=data[0])
    df.drop(columns=['Country Code', 'Series Name'], axis=1, inplace=True)
    df.columns = ['Country', 'Series', '2013', '2014', '2015', '2016', '2017', '2018']
    df = df[['Country', 'Series', '2015', '2016', '2017']]

In [11]:
df

,Country,Series,2015,2016,2017
0,Afghanistan,EG.ELC.ACCS.ZS,71.5,84.1371383666992,..
1,Afghanistan,SE.PRM.TENR,..,..,..
2,Afghanistan,NY.ADJ.NNTY.KD.ZG,..,..,..
3,Afghanistan,NY.ADJ.NNTY.PC.KD.ZG,..,..,..
4,Afghanistan,NY.ADJ.AEDU.GN.ZS,2.64374189312687,2.64374189312687,..
5,Afghanistan,NY.ADJ.ICTR.GN.ZS,-10.28844725,-10.87939183,..
6,Afghanistan,SP.POP.DPND,88.7687273393836,86.5709321507136,84.5872779704028
7,Afghanistan,SP.DYN.CBRT.IN,33.98,33.214,..
8,Afghanistan,per_si_allsi.cov_q1_tot,..,..,..
9,Afghanistan,per_si_allsi.cov_q5_tot,..,..,..
10,Afghanistan,per_allsp.cov_pop_tot,..,..,..
11,Afghanistan,per_sa_allsa.cov_pop_tot,..,..,..
12,Afghanistan,SP.DYN.CDRT.IN,6.924,6.747,..
13,Afghanistan,SE.XPD.PRIM.ZS,56.69549,43.30205,44.1906
14,Afghanistan,SE.XPD.SECO.ZS,24.3563,21.83389,22.25369
15,Afghanistan,GC.XPN.TOTL.GD.ZS,37.0225695736427,..,..
16,Afghanistan,SH.XPD.EHEX.CH.ZS,16.44546401,..,..
17,Afghanistan,NY.GDP.MKTP.CD,19907111418.9938,19046357714.4928,19543976895.4248
18,Afghanistan,NY.GDP.MKTP.KD.ZG,1.45131465458005,2.2603142045464,2.66529204636834
19,Afghanistan,NY.GDS.TOTL.ZS,2.94818036425211,4.95403313645523,7.15570536499632
20,Afghanistan,SE.ADT.1524.LT.ZS,..,..,..
21,Afghanistan,NV.IND.MANF.KD.ZG,0.409391082824413,1.08793953115092,0.748720444738609
22,Afghanistan,SH.DYN.NMRT,41.5,40.3,39.2
23,Afghanistan,SH.DYN.MORT,73.1,70.4,67.9
24,Afghanistan,SP.POP.TOTL,33736494,34656032,35530081
25,Afghanistan,SE.SEC.ENRL.TC.ZS,37.72088,42.68464,38.66756
26,Afghanistan,SE.PRM.ENRL.TC.ZS,44.32877,..,44.00995
27,Afghanistan,EG.FEC.RNEW.ZS,18.4234771693218,..,..
28,Afghanistan,AG.SRF.TOTL.K2,652860,652860,652860
29,Afghanistan,GC.TAX.TOTL.GD.ZS,7.58538233129798,..,..
...,...,...,...,...,...
7131,Zimbabwe,NY.ADJ.NNTY.PC.KD.ZG,6.35037313885385,-3.70432993417585,..
7132,Zimbabwe,NY.ADJ.AEDU.GN.ZS,1.91,1.91,..
7133,Zimbabwe,NY.ADJ.ICTR.GN.ZS,-10.58964597,-0.834098894,..
7134,Zimbabwe,SP.POP.DPND,79.5143636399425,79.1953035239659,78.656894412838
7135,Zimbabwe,SP.DYN.CBRT.IN,33.937,33.144,..
7136,Zimbabwe,per_si_allsi.cov_q1_tot,..,..,..
7137,Zimbabwe,per_si_allsi.cov_q5_tot,..,..,..
7138,Zimbabwe,per_allsp.cov_pop_tot,..,..,..
7139,Zimbabwe,per_sa_allsa.cov_pop_tot,..,..,..
7140,Zimbabwe,SP.DYN.CDRT.IN,8.402,8.078,..
7141,Zimbabwe,SE.XPD.PRIM.ZS,..,..,..
7142,Zimbabwe,SE.XPD.SECO.ZS,..,..,..
7143,Zimbabwe,GC.XPN.TOTL.GD.ZS,..,..,..
7144,Zimbabwe,SH.XPD.EHEX.CH.ZS,24.25624516,..,..
7145,Zimbabwe,NY.GDP.MKTP.CD,19963120600,20548678100,22040902300
7146,Zimbabwe,NY.GDP.MKTP.KD.ZG,1.77987270340296,0.75586925093063,4.70403539054713
7147,Zimbabwe,NY.GDS.TOTL.ZS,-8.39281910664807,-1.47059046099903,-1.01006300454404
7148,Zimbabwe,SE.ADT.1524.LT.ZS,..,..,..
7149,Zimbabwe,NV.IND.MANF.KD.ZG,0.199997556702684,0.555004759101436,1.30000280139997
7150,Zimbabwe,SH.DYN.NMRT,24.1,23.1,22.4
7151,Zimbabwe,SH.DYN.MORT,57,53.3,50.3
7152,Zimbabwe,SP.POP.TOTL,15777451,16150362,16529904
7153,Zimbabwe,SE.SEC.ENRL.TC.ZS,..,..,..
7154,Zimbabwe,SE.PRM.ENRL.TC.ZS,..,..,..
7155,Zimbabwe,EG.FEC.RNEW.ZS,81.797808552401,..,..
7156,Zimbabwe,AG.SRF.TOTL.K2,390760,390760,390760
7157,Zimbabwe,GC.TAX.TOTL.GD.ZS,..,..,..
7158,Zimbabwe,NE.TRD.GNFS.ZS,56.7488111052137,51.2190246437312,50.0282958016651
7159,Zimbabwe,SL.UEM.TOTL.NE.ZS,..,..,..
7160,Zimbabwe,FP.WPI.TOTL,..,..,..

In [12]:
df.loc[df['Country'] == "India"]

,Country,Series,2015,2016,2017
2937,India,EG.ELC.ACCS.ZS,88,84.5268173217773,..
2938,India,SE.PRM.TENR,..,..,..
2939,India,NY.ADJ.NNTY.KD.ZG,6.97520441811122,6.54828171962778,..
2940,India,NY.ADJ.NNTY.PC.KD.ZG,5.73350265045835,5.3318755355283,..
2941,India,NY.ADJ.AEDU.GN.ZS,3.08,3.08,..
2942,India,NY.ADJ.ICTR.GN.ZS,32.87842721,30.56082877,..
2943,India,SP.POP.DPND,52.1929971683597,51.5228471113059,50.9928506225845
2944,India,SP.DYN.CBRT.IN,19.269,19.013,..
2945,India,per_si_allsi.cov_q1_tot,..,..,..
2946,India,per_si_allsi.cov_q5_tot,..,..,..
2947,India,per_allsp.cov_pop_tot,..,..,..
2948,India,per_sa_allsa.cov_pop_tot,..,..,..
2949,India,SP.DYN.CDRT.IN,7.303,7.31,..
2950,India,SE.XPD.PRIM.ZS,..,..,..
2951,India,SE.XPD.SECO.ZS,..,..,..
2952,India,GC.XPN.TOTL.GD.ZS,..,..,..
2953,India,SH.XPD.EHEX.CH.ZS,0.88808166,..,..
2954,India,NY.GDP.MKTP.CD,2102390808996.69,2274229710530.47,2600818243559.65
2955,India,NY.GDP.MKTP.KD.ZG,8.15442502779769,7.11268609734361,6.68118228178416
2956,India,NY.GDS.TOTL.ZS,30.8408966837521,30.0580768902641,29.5133917938467
2957,India,SE.ADT.1524.LT.ZS,..,..,..
2958,India,NV.IND.MANF.KD.ZG,12.7589238117153,7.89559025625204,5.73807118331101
2959,India,SH.DYN.NMRT,26.1,25,24
2960,India,SH.DYN.MORT,44.1,41.6,39.4
2961,India,SP.POP.TOTL,1309053980,1324171354,1339180127
2962,India,SE.SEC.ENRL.TC.ZS,31.65018,28.49097,..
2963,India,SE.PRM.ENRL.TC.ZS,31.49146,35.21588,..
2964,India,EG.FEC.RNEW.ZS,36.0212225652817,..,..
2965,India,AG.SRF.TOTL.K2,3287259.0625,3287259.0625,3287259.0625
2966,India,GC.TAX.TOTL.GD.ZS,..,..,..
2967,India,NE.TRD.GNFS.ZS,41.9466799113024,40.3491793054949,41.0703717162166
2968,India,SL.UEM.TOTL.NE.ZS,..,..,..
2969,India,FP.WPI.TOTL,126.374776918501,128.901844140393,..